// https://adrianroselli.com/2017/11/a-responsive-accessible-table.html

@import '../../styles/variables.scss';

.container {
  box-sizing: border-box;
  width: min(1300px, 100% - 3rem);
  padding: 1rem;
  margin-inline: auto;
  font-family: $font-family-base;
  line-height: 1.5;
  color: $font-color-light;
  text-align: center;
  background-color: $primary-color-dark;
  border-radius: 15px;
  
  .table {
    width: 100%;

    .table-caption {
      padding: 1rem;
      font-family: $font-family-title;
      font-size: 5rem;
      color: $star-wars-yellow;
      background: black;
      border-radius: 15px 15px 0 0;
    }

    caption, .header-cell {
      padding: 1rem;
    }

    .header-cell {
      font-size: 2rem;
      background: hsl(0deg 0% 0% / 80%);
    }
    
    .table-footer {
      padding: 1rem;
      font-size: 1.5rem;
      text-transform: uppercase;
      background: hsl(0deg 0% 0% / 80%);
      border-radius: 0 0 15px 15px;
    }
  }

}


@media (width <= 1200px) {
  .header-cell {
    display: none;
  }
}